#elem {
	width: 300px;
	height: 100px;
	border: 1px solid green;
	border-radius: 10px;
}

#elem1 {
	border-radius: 20px;
	width: 300px;
	height: 100px;
	background-color: green;
}

#elem2 {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid green;
}