.success {
	color: green;
}
.error {
	color: red;
}
.large {
	font-size: 30px;
}
.small {
	font-size: 20px;
}

.bbb{
    color: blue;
}

.ddd{
    font-size: 50px;
}

.kkk{
    font-family: Arial;
}