h1, h2, h3{
    text-align: center;
}

h1, h2, h3{
    text-align: center;
}

h2{
    color: blue;
}

h3{
    color: red;
    font-size: 16px;
}

h1, h2, h3{
    text-align: center;
    color: red;
}


h3{
    font-size: 16px;
}