p{
    color: red;
    text-decoration: overline;
}
p1{
    color: green;
    text-decoration: line-through;
}
p2{
    text-decoration: underline;
}
p3{
    color: red;
    text-decoration: overline;
}

a{
    color: red;
    text-decoration: none;
}
