p{
    font-family: Arial;
}
h1{
    font-family: Georgia;
}
h2{
    font-family: "Trebuchet MS";
}
h3{
    font-family: Impact;
}
h4{
    font-family: "Arial Black";
}

P1{
    font-family: "Comic Sans MS";
}

P2{
    font-family: "Courier New";
}
